ALTER TABLE public.viva_sessions ADD COLUMN IF NOT EXISTS answer_score NUMERIC;
ALTER TABLE public.viva_sessions ADD COLUMN IF NOT EXISTS confidence TEXT;
ALTER TABLE public.viva_sessions ADD COLUMN IF NOT EXISTS feedback TEXT;
ALTER TABLE public.viva_sessions ADD COLUMN IF NOT EXISTS strengths JSONB;
ALTER TABLE public.viva_sessions ADD COLUMN IF NOT EXISTS improvements JSONB;

-- Missing columns for Voice Viva recording and UI
ALTER TABLE public.viva_sessions ADD COLUMN IF NOT EXISTS base_topic TEXT;
ALTER TABLE public.viva_sessions ADD COLUMN IF NOT EXISTS difficulty TEXT;
ALTER TABLE public.viva_sessions ADD COLUMN IF NOT EXISTS question TEXT;
ALTER TABLE public.viva_sessions ADD COLUMN IF NOT EXISTS transcript TEXT;
ALTER TABLE public.viva_sessions ADD COLUMN IF NOT EXISTS pronunciation NUMERIC;
ALTER TABLE public.viva_sessions ADD COLUMN IF NOT EXISTS fluency NUMERIC;
ALTER TABLE public.viva_sessions ADD COLUMN IF NOT EXISTS completeness NUMERIC;
ALTER TABLE public.viva_sessions ADD COLUMN IF NOT EXISTS accuracy NUMERIC;
ALTER TABLE public.viva_sessions ADD COLUMN IF NOT EXISTS prosody NUMERIC;
ALTER TABLE public.viva_sessions ADD COLUMN IF NOT EXISTS wpm NUMERIC;

-- Topic completion timestamp
ALTER TABLE public.topics ADD COLUMN IF NOT EXISTS last_reviewed TIMESTAMPTZ;

